Repository Qurtik/middle.messenger.praktikum.yandex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run lint:style:fix, stylelint --fix

.lintstagedrc:

{
	"*.ts": ["eslint --fix", "npm run lint:style:fix"],
	"*.css": ["stylelint --fix"]
}

add hoc
  src/app/core/hoc.ts
  src/pages/auth/ui/AuthPage.ts
  src/pages/register/ui/RegistrationPage.ts
Due: eslint --fix, npm run lint:style:fix

add hoc
  .lintstagedrc
  src/app/core/hoc.ts
  src/app/index.ts
  src/app/router/index.ts
  src/app/stores/index.ts
  src/entities/User/api/index.ts
  src/entities/User/index.ts
  src/entities/User/model/index.ts
  src/entities/User/types/index.ts
  src/pages/profile/ui/ProfilePage.pcss
  src/pages/profile/ui/ProfilePage.ts
  src/pages/register/ui/RegistrationPage.pcss
  src/shared/lib/toggleModal.ts
  src/shared/lib/validate.ts
  src/shared/ui/Button/Button.ts
  src/shared/ui/Modal/Modal.ts
  src/style.pcss
  src/widgets/left-menu/ui/LeftMenu.ts
Due: eslint --fix, npm run lint:style:fix

update
  .lintstagedrc
  src/app/core/Block.ts
  src/app/core/hoc.ts
  src/app/index.ts
  src/app/router/index.ts
  src/app/store/index.ts
  src/entities/Chat/api/MessagesAPI.ts
  src/entities/Chat/api/index.ts
  src/entities/Chat/model/index.ts
  src/entities/Chat/ui/index.ts
  src/entities/User/api/index.ts
  src/entities/User/model/index.ts
  src/main.ts
  src/pages/chat/ui/ChatPage.ts
  src/pages/profile/ui/ProfilePage.pcss
  src/pages/profile/ui/ProfilePage.ts
  src/shared/api/http.ts
  src/shared/api/ws.ts
  src/shared/lib/merge.ts
  src/shared/lib/set.ts
  src/shared/ui/Avatar/index.ts
  src/shared/ui/Input/Input.ts
  src/shared/ui/Modal/Modal.ts
  src/widgets/chat/ui/Chat.pcss
  src/widgets/chat/ui/index.ts
  src/widgets/chat/ui/message/index.ts
  src/widgets/chat/ui/message/message.pcss
  src/widgets/left-menu/ui/LeftMenu.ts
  src/widgets/left-menu/ui/footer/footer.hbs
  src/widgets/left-menu/ui/header/header.hbs
  src/widgets/left-menu/ui/main/main.hbs
Due: eslint --fix, npm run lint:style:fix

fix lint
  src/app/core/Block.ts
  src/app/core/hoc.ts
  src/app/router/index.ts
  src/entities/Chat/model/index.ts
  src/entities/Chat/ui/index.ts
  src/entities/User/api/index.ts
  src/pages/System/404/ui/NotFoundPage.ts
  src/pages/System/505/ui/ServerErrorPage.ts
  src/pages/auth/ui/AuthPage.ts
  src/pages/chat/ui/ChatPage.ts
  src/pages/profile/ui/ProfilePage.ts
  src/pages/register/ui/RegistrationPage.ts
  src/shared/lib/merge.ts
  src/shared/lib/validate.ts
  src/shared/ui/Avatar/index.ts
  src/shared/ui/Button/Button.ts
  src/shared/ui/Card/Card.ts
  src/shared/ui/Input/Input.ts
  src/shared/ui/Modal/Modal.ts
  src/widgets/chat/ui/index.ts
  src/widgets/chat/ui/message/index.ts
Due: eslint --fix, npm run lint:style:fix

fix with review comments
  .lintstagedrc
  src/entities/Chat/api/index.ts
  src/entities/Chat/model/index.ts
  src/entities/Chat/ui/index.ts
  src/entities/User/api/index.ts
  src/entities/User/model/index.ts
  src/pages/profile/ui/ProfilePage.ts
  src/shared/api/http.ts
  src/shared/lib/validate.ts
  src/shared/ui/Avatar/Avatar.pcss
  src/shared/ui/Avatar/index.ts
  src/style.pcss
  src/widgets/chat/ui/index.ts
  src/widgets/left-menu/ui/LeftMenu.ts
Due: eslint --fix, npm run lint:style:fix

add route to netlify
  netlify.toml
Due: none

add route
  dist/assets/main-CPHgMh_7.css
  dist/assets/main-DsP2fMi8.js
  netlify.toml
Due: stylelint --fix

fix with review comments
  src/entities/Chat/api/MessagesAPI.ts
  src/entities/Chat/api/index.ts
  src/entities/Chat/model/index.ts
  src/entities/Chat/ui/index.ts
  src/entities/User/api/index.ts
  src/entities/User/model/index.ts
  src/pages/profile/ui/ProfilePage.ts
  src/shared/api/index.ts
  src/shared/ui/Avatar/index.ts
  src/shared/ui/Button/Button.ts
Due: eslint --fix, npm run lint:style:fix

remove console.log
  src/app/index.ts
  src/entities/Chat/api/MessagesAPI.ts
  src/entities/Chat/ui/index.ts
  src/entities/User/model/index.ts
  src/shared/api/ws.ts
  src/widgets/chat/ui/index.ts
  src/widgets/chat/ui/message/index.ts
  src/widgets/left-menu/ui/LeftMenu.ts
Due: eslint --fix, npm run lint:style:fix

init jest
  .eslintrc.cjs
  babel.config.js
  jest.config.js
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.node.json
Due: none

add uuid
  src/app/core/Block.ts
Due: eslint --fix, npm run lint:style:fix

fix validate rule
  src/shared/lib/validate.ts
Due: eslint --fix, npm run lint:style:fix

remove logs and fix some errors
  src/app/router/index.ts
  src/shared/api/http.ts
Due: eslint --fix, npm run lint:style:fix

add http test
  src/app/router/router.test.ts
  src/shared/api/http.test.ts
  src/shared/api/http.ts
Due: eslint --fix, npm run lint:style:fix

add rule lintstaged
  .lintstagedrc
Due: none

add test block
  src/app/core/block.test.ts
  src/app/router/router.test.ts
Due: eslint --fix, npm run lint:style:fix

update readme
  README.md
Due: none

add devDependencies
  package-lock.json
  package.json
Due: none
